
      <div class="striped"></div>
    </div>
    <div class="ui inverted vertical footer segment form-page">
      <div class="ui container">
        <a class="ui image label" href="https://github.com/MohamedMoumen" target="_blank">
            <img src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/127199984_3436904259759045_6390049305859786719_n.jpg?_nc_cat=108&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFmUGRZr5CeI2KERPL4wsXUHlK-1q5hdxkeUr7WrmF3Gf_OJcF_0grelqYu6-8ehLMq-576gWi1G5G2QpYqN7XJ&_nc_ohc=LZonWT23mhMAX_PLym6&_nc_ht=scontent-mxp1-1.xx&oh=2e6c888d3965ffdbd3849b75cff38f79&oe=601BE276">
            Mohamed
          </a>
          <a class="ui image label" href="https://github.com/Mostafa-Amar" target="_blank">
            <img src="https://scontent.fcai1-2.fna.fbcdn.net/v/t1.0-9/126086517_5092387740801825_3902598910091163797_o.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFyc9qND4goHXXZjrBbExTSIpy21UahLaIinLbVRqEtojsZ_aQFOmER2NMz91Zi8Qwj6vn_Brm3Pl_84X9Qdpu8&_nc_ohc=P79ki3mIqOoAX-PDGkN&_nc_ht=scontent.fcai1-2.fna&oh=82aaf6f2b9b0dc6e0a8fd810ab588d90&oe=601AB8AA">
            Mostafa
          </a>
          <a class="ui image label" href="https://github.com/3b3al" target="_blank">
            <img src="https://scontent.fcai1-2.fna.fbcdn.net/v/t1.0-9/35533763_1250326315103694_3086694181322620928_o.jpg?_nc_cat=103&ccb=2&_nc_sid=174925&_nc_eui2=AeFVB9kZHwHqBPTbBVPbLR9zCFssKZugk_sIWywpm6CT--arfkstsdjDUQsU3vVUt_EEABXecF1l_aomaiUNTmR7&_nc_ohc=3QACiIKDy8AAX9lK2MN&_nc_ht=scontent.fcai1-2.fna&oh=5fe2fc6e9859654c75588400c3ff541f&oe=601B4021">
            3b3al
          </a>
          <a class="ui image label" href="https://github.com/salahmansour9900" target="_blank">
            <img src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/29340175_2146374422257281_300422001598660608_o.jpg?_nc_cat=107&ccb=2&_nc_sid=174925&_nc_eui2=AeHouSxmrDGevl6bvnGkzKAme8lM3wSSUdJ7yUzfBJJR0gMTYKc4pNDRh4M4y85cwbfSHyeRw30_y6dMMTNMMUN5&_nc_ohc=jFNQ8oLZv2UAX80_dmM&_nc_ht=scontent-mxp1-1.xx&oh=fc093f1cc8580c5e19946c77e47fe613&oe=601C3CF6">
            Salah
          </a>
          <a class="ui image label" href="https://github.com/Hazem-Akram" target="_blank">
            <img src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/53165152_2280138562265960_7167668674579398656_n.jpg?_nc_cat=109&ccb=2&_nc_sid=174925&_nc_eui2=AeEvf3hzQNoe3yBRgRKhArhPOH5ZUEcNmPA4fllQRw2Y8JVwwRf9d0lUIcqU2APZ3c_aE93XFZ0-3YfcWIf37h6U&_nc_ohc=ThWiYYhS1cEAX-dRmmH&_nc_ht=scontent-mxp1-1.xx&oh=7be023d6dfdff2fa251b7fbc69791eb6&oe=601B202A">
            Hazem
          </a>
      </div>
    </div>
</body>
</html>